.container{
  margin-left: 160px;
  margin-right: 160px;
  margin-top: 60px;
}

.main_body{
  position: absolute;
  width: 336px;
  height: 224px;
  left: 534px;
  top: 189px;
}

.event_name{
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 28px;
}

.bid_details{
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 18px;
  text-align: center;
}
