.container{
  margin-left: 160px;
  margin-right: 160px;
  margin-top: 60px;
}

.details{
  padding-left:15px;
  p{
    margin:0px;
    padding:0px;
    padding-right: 10px;
    text-align: left;
  }
}

.title_and_details{
  padding-top: 40px;
}
.main_header{
  display:flex;
}
.title{
  h2{
    font-size: 30px;
  }
}

.avatar{
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.main_body{
  p{
    text-align: left;
    padding: 0px;
    padding-top: 30px;
  }
}

.title_and_details{
  width:80%;
}
.align_left{
  text-align: left;
  .fa-snowflake{
    color: #77CCFD;
  }
  .fa-fire{
    color: #F43C0C;
  }
  .fa-utensils{
    color: #BCBCBC;
  }
  .fa-coffee{
    color: #B07036;
  }
}

.bid-now{
  width: 180px;
  height:80px;
  font-size: 36px !important;
  padding: 5px;
  padding-top: 9px !important;
  margin-top: 100px;
  background-color: #09BC8A;
  color: white;
}

.bid-now:hover{
  background-color: #08a478;
  color: rgba(240, 240, 240,0.9)
}

.btn-container{
  align-items: center;
}

