.container{
  margin-left: 160px;
  margin-right: 160px;
  margin-top: 60px;
}

.details{
  p{
    margin:0px;
    padding:0px;
    padding-right: 10px;
  }
}

.main_header{
  display:flex;
}
.title{
  align-self:center;
}

.avatar{
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.main_body{
  p{
    text-align: left;
    padding: 0px;
    padding-top: 30px;
  }
}

.title_and_details{
  width:80%;
}
