.event_card{
  // width: 150px;
  height: 300px;
  padding: 0px;
  margin-bottom: 10px;
}
.event_card:hover {
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow:2px 2px 3px rgba(0,0,0,0.1) ;
  border-radius: 2px;
  text-decoration: none;
  transition-delay: 0.1s;
}
.card_description{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card_text{
  font-size: 20px;
  color: rgba(0,0,0,0.7);
}
.card_text:hover{
  text-decoration: none;
}
.card_link:hover{
  text-decoration: none;
}
a{
  text-decoration: none;
}
.icon{
  color: #6C63FF;
}

.search_bar{
  // border-bottom: 1px solid rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  padding: 0px;
  margin-bottom: 50px;
  h3{
    font-size: 25px !important;
  }
}

.no_padding{
  padding: 0px;
  margin: 0px;
  font-size: 24px;
}

.input_field{
  font-size: 20px;
  opacity: 0.9;
  background-color: #6C63FF;
  // border: 1px solid #6C63FF;
  border-bottom: none;
  border-radius: 3px 3px 0px 0px;
  color: #EFEEFF;
  padding: 6px 10px;
}

.input_field:hover{
  opacity: 1;
  background-color: #6C63FF;
}

.field_holder{
  width: 40vw;
  display: flex;
  justify-content: space-around;
}

.filter_index_form{
  display: flex;
  justify-content: space-between;
  align-items: center;
  .input{
    margin: 0px;
    margin-right: 5px;

  }
  #event_location{
    margin: 0px;
  }
  .algolia-places{
      width: 30%;
  }
  .input_margin_1{
    border: 1px solid rgba(0,0,0,0.2) !important;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2)
  }
  .input_margin_2{
    border: 1px solid rgba(0,0,0,0.2) !important;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2)
  }
  .input_margin_1:hover{
    box-shadow: 2px 2px 3px rgba(0,0,0,0.2)
  }
  .input_margin_2:hover{
    box-shadow: 2px 2px 3px rgba(0,0,0,0.2)
  }
  .filter_button{
    background-color: #6C63FF;
    opacity: 0.9;
    color: white;
    height: 50px;
    width: 120px;
    font-size: 20px;
    border-radius: 50px;
  }
  .filter_button:hover{
    background-color: #6C63FF;
    opacity: 1;
    color: rgba(240,240,240,0.9)
  }
  .ap-input-icon{
    opacity: 0;
  }
}
