
.event-card {
  position: relative;
  width:  1100px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 200px;
  border-top:  solid 2px black;
  border-bottom: solid 2px black;


}
.description-style {
  min-width: 500px;
  line-height: 20px;
}
.mainheading {
  text-align: center;
}

.location {
  min-width: 200px;
  text-align: center;

}

.date {
  min-width: 200px;
}
.type {
  font-size: 14px;
  text-align: center;
}


.event-info {
  height: 2000px;
  margin-right: 50px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  min-width: 200px;
  margin-left: 50px
}


