.search-button {

}

.unstyled {
  text-decoration: none;
  color: white;
}

.show-bid {
width: 100px;
margin: 160px 40px;
width: 400px;
text-align: center;
width: 210px;
z-index: 1;
}

.button-width {
  width: 60px;
}
