.container{
 margin-left: 160px;
 margin-right: 160px;
 margin-top: 60px;
}

label {
  margin-left: 15px;

}
.form-inputs {

font-size: 14px;
font-family: 'Noto Sans', sans-serif;
}

.header{
text-align: center;
}

.login-header {
text-align: center;
}
